LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

LIVEAVATAR_API_KEY=

ELEVEN_API_KEY=

OPENAI_API_KEY=

DEEPGRAM_API_KEY=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

DB_TABLE_NAME=
DB_SCHEMA=
DB_RPC_FUNCTION=

AGENT_NAME=

TAVUS_API_KEY=
TAVUS_PERSONA_ID=
TAVUS_REPLICA_ID=